.userprompt {
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: navy;
}
.userprompt h1{
    color: whitesmoke;
    text-align: center;
    position: relative;
    top: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 140px;
    border: solid 1px white;
    width: 500px;
    margin: auto;
    cursor: default;
}

.userprompt input [type=text] {
    position: absolute;
    top: 30px;
}

.userprompt-inputField {
    position: relative;
    top: 200px;
    width: 500px;
    margin: auto;
    text-align: center;
}

.userprompt-inputField input[type='text'], input[type='password']{
    width: 400px;
    height: 40px;
    border: navy 1px solid;
    border-radius: 7px;
    margin-bottom: 20px;
    font-size: 27px;
    color: darkblue;
    font-family: 'Courier New', Courier, monospace;
    font: bold;
    text-align: center;
}

.userprompt button {
    position: relative;
    top: 220px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    width: 350px;
    height: 60px;
    border: 1px solid white;
    background-color: navy;
    color: whitesmoke;
}

.userprompt button:hover{
    background-color: whitesmoke;
    color: navy;
    cursor: pointer;
}

.userprompt button:active{
    background-color: navy;
    color: whitesmoke;
}

.userprompt-bottom {
    text-align: center;
}

.userprompt-bottom p {
    position: relative;
    top: 230px;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}

.userprompt-bottom p:hover{
    text-decoration: underline;
    color: lightblue;
    cursor: pointer;
}

.userprompt-bottom p:active{
    text-decoration: none;
    color: whitesmoke;
}

.userprompt-inputField p {
    font-size: 17px;
    position: relative;
    top: 10px;
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;
}