.dashboard body{
    background-color: white;
}

.dashboard h1{
    color: white;
    background-color: navy;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 45px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 750px;
    height: 90px;
    text-align: center;
    vertical-align: middle;
    padding-top: 50px;
}

.dashboard-top{
    background-color: navy;
    height: 170px;
    width: 1500px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

.dashboard p{
    color: tomato;
    position: relative;
    top: 180px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.dashboard-grid-container{
    background-color: white;
    width: 1500px;
    position: relative;
    top: 190px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 420px;
    justify-items: stretch;
}

.dashboard-grid-container h2 {
    border: 1px solid white;
    height: 250px;
    background-color: navy;
    color: white;
    text-align: center;
    padding-top: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin: 5px;
}

.dashboard-grid-container h2:hover {
    background-color: white;
    color: navy;
    border: 1px solid navy;
    cursor: pointer;
}

.dashboard-grid-container h2:active {
    background-color: navy;
    color:white
}

@keyframes shake {
    0% {transform: translateX(-2px);}
    25% {transform: translateX(0px);}
    75% {transform: translateX(2px);}
    100% {transform: translateX(0px);}
}

.dashboard-delete h2{
    background-color: tomato;
    animation: shake 0.15s infinite;
}

.dashboard-delete h2:hover{
    background-color: white;
    color: tomato;
    border: 1px solid tomato;
}

.dashboard-delete h2:active{
    background-color: tomato;
    color: white;
}

.dashboard-user p {
    color: navy;
    cursor: pointer;
}

.dashboard-user p:hover{
    text-decoration: underline;
}

.dashboard-user p:active{
    color: lightblue;
}
